.intro #banner {
	display: block;
	margin: auto;
	width: 100%;
}
	
.intro h4 {
	
	color:rgb(0 ,255 ,0);
	font: garamond;
	border-width: 5px;
	border-style: solid;
	text-align: center;
}
.intro {
	background-image: url(mountainvista.jpg);
	background-size: 1573px 653px;
}
.intro img {
	display: block;
	margin: auto;
	width: 60%
}
.intro p {
	font-size: 24px;
}
.BCE {
	background-color: black
}
.BCE h2  {
	color:rgb(0, 81, 142);
	font: timesnewroman;
	border-width: 5px;
	border-style: solid;
	border-color: blue;
	text-align: center;
	font-size: 36px
}

.BCE h5  {
	
	color:rgb(0, 81, 142);
	font: verdana;
	border-width: 5px;
	border-style: solid;
	border-color: blue;
	text-align: center;
	font-size: 18px
}

.BCE p {
	
	color:red;
	font: abel;
	font-size: 24px
	
}
.BCE img {
	display: block;
	margin: auto;
	width: 60%
}

.CE h2 {
	color:rgb(68, 62, 255);
	font: verdana;
    border-width: 5px;
	border-style: solid;
	border-color: red;	
	text-align: center;
	font-size: 36px
	
}

.CE h5 {
	color:rgb(68, 62, 255);
	font: verdana;
	border-width: 5px;
	border-style: solid;
	border-color: red;
    text-align: center;	
	font-size: 18px;
}

.CE p {
	color:rgb(0,0,0);
	font: verdana;
	font-size: 24px;
}

.CE img {
	display: block;
	margin: auto;
	width: 60%
}
.CE, .BCE, .intro, .references, p {
	background-image: url(images/Backgroundscroll.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
p {
	margin=0px;
}

	



	
	
	
